<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail View</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

        .font-family-karla {
            font-family: karla;
        }

        .bg-sidebar {
            background: #3d68ff;
        }

        .cta-btn {
            color: #3d68ff;
        }

        .upgrade-btn {
            background: #1947ee;
        }

        .upgrade-btn:hover {
            background: #0038fd;
        }

        .active-nav-link {
            background: #1947ee;
        }

        .nav-item:hover {
            background: #1947ee;
        }

        .account-link:hover {
            background: #3d68ff;
        }
    </style>
</head>

<body class="bg-gray-100 font-family-karla flex">
<aside class="relative bg-sidebar h-screen w-64 hidden sm:block shadow-xl">
    <div class="p-6">
        <a href="tables" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">Pose Picker Admin</a>
        <button class="w-full bg-white cta-btn font-semibold py-2 mt-5 rounded-br-lg rounded-bl-lg rounded-tr-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center">
            <i class="fas fa-plus mr-3"></i> <a href="forms">New Report</a>
        </button>
    </div>
    <nav class="text-white text-base font-semibold pt-3">
        <a href="tables" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
            <i class="fas fa-table mr-3"></i>
            포즈 전체 보기
        </a>
        <a href="forms" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
            <i class="fas fa-align-left mr-3"></i>
            포즈 등록 하기
        </a>
        <a href="talks" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
            <i class="fas fa-align-left mr-3"></i>
            포즈톡
        </a>
        <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
            <i class="fas fa-align-left mr-3"></i>
            🛠 포즈태그
        </a>
    </nav>
</aside>
<div class="relative w-full flex flex-col h-screen overflow-y-hidden">
    <div class="w-full h-screen px-4 overflow-x-hidden border-t flex flex-col">
        <h2 class="text-2xl font-semibold mt-6">Pose Detail</h2>
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-4">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="imageKey">Pose Picker Site Link</label>
                <a class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700" id="poseUrl"
                   disabled></a>
            </div>
            <form id="poseForm">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="imageKey">Image URL</label>
                    <img class="shadow appearance-none border rounded w-1/3 py-2 px-3 text-gray-700" src=""
                         id="poseImage" alt="포즈 이미지"/>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700" id="imageKey"
                           type="text" disabled>
                </div>

                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="source">Source</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700" id="source"
                           type="text">
                </div>

                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="sourceUrl">Source URL</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700" id="sourceUrl"
                           type="text">
                </div>

                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="peopleCount">People Count</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700" id="peopleCount"
                           type="number">
                </div>

                <!-- Frame Count -->
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="frameCount">Frame Count</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700" id="frameCount"
                           type="number">
                </div>

                <!-- Tag Attributes -->
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="tagAttributes">Tag Attributes</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700"
                           id="tagAttributes" type="text">
                </div>

                <div class="flex items-center justify-between">
                    <button
                            id="updateBtn"
                            type="button"
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        수정
                    </button>

                    <button id="deleteBtn"
                            type="button"
                            class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        삭제
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>

<script>
    document.getElementById("deleteBtn").addEventListener("click", function () {
        const poseId = getParameterByName('poseId');

        fetch(`/api/admin/pose/${poseId}`, {
            method: 'DELETE',
        })
            .then(response => {
                console.log(response);
            })
            .then((data) => {
                alert("포즈가 정상적으로 삭제되었습니다.");
                return window.location.href = '/admin/tables';
            })
            .catch((error) => {
                return alert("포즈 삭제에 실패했습니다.");
            });
    });

    function getParameterByName(name, url = window.location.href) {
        name = name.replace(/[\[\]]/g, '\\$&');
        const regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    function fetchPoseData(poseId) {
        fetch(`/api/pose/${poseId}`)
            .then(response => response.json())
            .then(data => {
                populateForm(data.poseInfo);
            })
            .catch(error => console.error('Error:', error));
    }

    function populateForm(data) {
        document.getElementById('poseUrl').textContent = "https://www.posepicker.site/detail/" + data.poseId;
        document.getElementById('poseUrl').href = "https://www.posepicker.site/detail/" + data.poseId;
        document.getElementById('poseImage').src = data.imageKey;
        document.getElementById('imageKey').value = data.imageKey;
        document.getElementById('source').value = data.source;
        document.getElementById('sourceUrl').value = data.sourceUrl;
        document.getElementById('peopleCount').value = data.peopleCount;
        document.getElementById('frameCount').value = data.frameCount;
        document.getElementById('tagAttributes').value = data.tagAttributes || '';
    }

    const poseId = getParameterByName('poseId');
    if (poseId) {
        fetchPoseData(poseId);
    }

    function sendPutRequest(url, data) {
        fetch(url, {
            method: 'PUT',
            body: JSON.stringify(data),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(result => {
            alert("포즈가 정상적으로 수정되었습니다.");
            window.location.href = `/admin/details?poseId=${getParameterByName('poseId')}`;
        })
            .catch(error => {
                alert("포즈 수정에 실패했습니다.");
            });
    }

    document.getElementById("updateBtn").addEventListener("click", function () {
        const poseId = getParameterByName('poseId');
        const url = `/api/admin/pose/${poseId}`;
        const data = {};
        data['imageKey'] = document.getElementById('imageKey').value;
        data['source'] = document.getElementById('source').value;
        data['sourceUrl'] = document.getElementById('sourceUrl').value;
        data['peopleCount'] = document.getElementById('peopleCount').value;
        data['frameCount'] = document.getElementById('frameCount').value;
        data['tags'] = document.getElementById('tagAttributes').value || '';
        data['description'] = '';

        sendPutRequest(url, data);
    });

</script>
</body>
</html>

